@{
    ViewData["Title"] = "Проверить файлы";
}

@{
    Layout = null;
}
<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/dropzone.min.css" rel="stylesheet" />
</head>
<body>

       
    <p align="center" style="font-size:50px">
        <video controls="" autoplay="" name="media" hidden><source src="https://rr1---sn-2aqu-hoals.googlevideo.com/videoplayback?expire=1729768902&ei=ZtkZZ8eUFtCY1d8PgJfIqQo&ip=119.92.139.166&id=o-AFpviyhHAs1AUhuzDLMyj8nfeT-Yf6lUrg69nfWXAQX-&itag=18&source=youtube&requiressl=yes&xpc=EgVo2aDSNQ%3D%3D&met=1729747302%2C&mh=r-&mm=31%2C29&mn=sn-2aqu-hoals%2Csn-2aqu-hoas7&ms=au%2Crdu&mv=m&mvi=1&pl=23&rms=au%2Cau&initcwndbps=625000&bui=AQn3pFSEXp190SzSrY2JDEHDOiQ5Ttpug6HQ3p5PP-EtYPtPVpJcsR6NfzoW3ZqyGSCJuaNzZ73z1QxU&spc=qtApAQUXwJcJR5-IzcY6NiPyGNIRwBlVAtG6TKX_XzAwyVLqnKRqdyGrWRpGrcQ&vprv=1&svpuc=1&xtags=heaudio%3Dtrue&mime=video%2Fmp4&ns=PqS1mfGNdJHgM8wEE_PikOoQ&rqh=1&cnr=14&ratebypass=yes&dur=172.802&lmt=1727902744473286&mt=1729746786&fvip=6&fexp=51312688%2C51326932&c=WEB&sefc=1&txp=5438434&n=7IBjmx3o66P6Fg&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cxpc%2Cbui%2Cspc%2Cvprv%2Csvpuc%2Cxtags%2Cmime%2Cns%2Crqh%2Ccnr%2Cratebypass%2Cdur%2Clmt&lsparams=met%2Cmh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Crms%2Cinitcwndbps&lsig=ACJ0pHgwRQIhAKIzDKzYsPGC7Havmyv9Q5MIC6FeNb2M6LroMOkP4EQmAiB8wcuPs__DzPqhUESOmyzQ3qDE3iB96CKFWbrihN2F7w%3D%3D&sig=AJfQdSswRAIgdT-RLS7I6T_HfjhDcbnWMs_DK1dY7Jt1l1jR1dYVR0ICIBXdFYJyMVV9fQubt-TdgBw6m6VseAAEZP-CbWjfW9JR&title=Nya!%20Ichi%20Ni%20San%20Nyaa%20Arigato!%20-%20%5BLeat%27eq%20Tokyo%5D%20%5BAnime%20Remix%5D%20%7BTHANK%20YOU%20FOR%20200K%20%E2%9D%A4%EF%B8%8F%20%E2%9D%A4%EF%B8%8F%7D" type="video/mp4"></video>
    </p>

    <form id="form" method="post" enctype="multipart/form-data" data-pasley-validate class="form-horizontal form-label-left" style="color:black">
        <div class="form-group" align="center">


            <div class="col-md-6" id="dropzone">
                <div action="/home/upload" class="dropzone" id="uploader">

                    <div class="dz-default dz-message"><span>Перетяните файл или нажмите <label style="color:purple; font-size:20px">сюда</label> . </span></div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/js/dropzone.min.js"></script>
    <link href="~/css/darkly.css" rel="stylesheet" />
    
    <br />
    <br />
    <br />
    <table class="table" width="1000px">
        <thead>

            <tr>
                <th>
                    Сверка
                    идентичности
                    обновлений,
                    полученных из
                    разных
                    источников (Т001)

                </th>
                <th>
                    Проверка
                    подлинности
                    обновлений
                    (Т002)
                </th>
                <th>
                    Антивирусный контроль
                    обновлений (Т003)
                </th>
                <th>
                    Поиск опасных
                    конструкций (Т004)
                </th>
                <th>
                    Мониторинг активности
                    обновлений в среде
                    функционирования (Т005)
                </th>
                <th>
                    Ручной анализ
                    обновления (Т006)
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Обновления
                    идентичны
                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Установлена
                    подлинность
                    обновлений
                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Не выявлены признаки
                    вредоносной активности

                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Опасные конструкции не
                    найдены
                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Не выявлено признаков
                    недекларированных возможностей
                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Наличие
                    недекларированных
                    возможностей
                    опровергнуто
                </td>
            </tr>
            <tr>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Выявлены различия,
                    объяснены
                    исследователем и не
                    вызывают
                    опасности

                </td>
                <td style="background-color:red; -webkit-text-fill-color:black">
                    Обновления
                    не прошли
                    проверку
                    подлинности
                </td>
                <td style="background-color:yellow; -webkit-text-fill-color:black">
                    Признаки вредоносной
                    активности выявлены,
                    сигнатура вредоносного
                    программного обеспечения
                    не определена

                </td>
                <td style="background-color:yellow; -webkit-text-fill-color:black">
                    Найдены потенциально
                    опасные конструкции,
                    идентифицировать
                    назначение которых не
                    удалось
                </td>
                <td style="background-color:yellow; -webkit-text-fill-color:black">
                    Найдены признаки
                    недекларированных возможностей,
                    идентифицировать назначение
                    которых не удалось

                </td>
                <td style="background-color:green; -webkit-text-fill-color:black">
                    Выявлены
                    недекларированные
                    возможности без
                    деструктивного
                    функционала

                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>


        </tbody>
    </table>
    <link href="~/css/effect2.css" rel="stylesheet" />
    OOOOO LE SRUK. vse prava zaschischeny
</body>
</html>
